@font-face {
  font-family: "Montserrat-alt--semiBold";
  src: url(../../assets/fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat-alt--regular";
  src: url(../../assets/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-alt--Bold";
  src: url(../../assets/fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat-alt--extraBold";
  src: url(../../assets/fonts/Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf);
}
@font-face {
  font-family: "Manrope";
  src: url(../../assets/fonts/Manrope/Manrope.ttf);
}
@font-face {
  font-family: "Outfit";
  src: url(../../assets/fonts/Outfit/Outfit.ttf);
}
@font-face {
  font-family: "Poppins--semiBold";
  src: url(../../assets/fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Poppins--Bold";
  src: url(../../assets/fonts/Poppins/Poppins-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 90%;
  width: 100%;
  margin: auto;
}
a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.bo {
  border: 1px solid #121214;
}

.even-section {
  background-color: #F8F9FA;
  color: #121214;
  padding: 32px 0;
}
@media (min-width: 1193px) {
  .even-section {
    padding: 0;
  }
}

.odd-section {
  background-color: #F1F3F5;
  color: #121214;
  padding: 32px 0;
}
@media (min-width: 1193px) {
  .odd-section {
    padding: 0;
  }
}

.structure-section {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 64px;
}
@media (min-width: 768px) {
  .structure-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }
}

.tag-section {
  color: #6E38F7;
  font-family: "Poppins--Bold";
  font-size: 0.875rem;
  text-transform: uppercase;
}

.title-section {
  color: #121214;
  font-family: "Montserrat-alt--Bold";
  font-size: 2.5rem;
}

.para-section {
  font-family: "Montserrat-alt--regular";
  font-size: 1rem;
}

.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
}
@media (min-width: 768px) {
  .intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .intro-section h3 {
    text-align: center;
  }
}

.primary-btn {
  padding: 14px 28px;
  background-color: #073C35;
  font-family: "Montserrat-alt--regular";
  color: #FFFFFF;
  border: 2px solid #073C35;
}

.secondary-btn {
  padding: 14px 28px;
  font-family: "Montserrat-alt--regular";
  border: 2px solid #073C35;
}

.cta {
  padding: 1rem 1.75rem;
  color: #FFFFFF;
  background-color: #F09008;
  border-radius: 1.875rem;
}

.cta--alt {
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 32px;
  padding: 2.5rem;
  background-color: #FFFFFF;
  border-radius: 1.5rem;
  border: 1px solid #E9ECEF;
}

.card__container--space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 0;
}

.card__icon {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(110, 56, 247, 0.062745098);
  padding: 16px;
  border-radius: 16px;
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 12px;
}

.card__title {
  font-family: "Montserrat-alt--semiBold";
  font-size: 1.5rem;
}

.card__action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: "Montserrat-alt--semiBold";
  color: #6E38F7;
}

.even--height-one {
  min-height: 800px;
}

.hero {
  min-height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
@media (min-width: 1193px) {
  .hero {
    flex-wrap: unset;
  }
}

.hero__left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 32px;
}
@media (min-width: 1193px) {
  .hero__left {
    width: 50%;
  }
}

.hero__right {
  width: 100%;
  margin-top: 3rem;
}
.hero__right img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 2.5rem;
}
@media (min-width: 1193px) {
  .hero__right {
    width: 100%;
    max-width: 35rem;
    margin-top: 0;
  }
}

.hero__tag {
  display: block;
  padding: 6px 14px;
  color: #6E38F7;
  background-color: rgba(110, 56, 247, 0.062745098);
  border-radius: 20px;
  font-size: 0.8125rem;
}

.hero__title {
  font-family: "Montserrat-alt--semiBold";
  font-size: 4rem;
}

.para-section--hero {
  font-size: 1.125rem;
}

.hero__action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.odd--height-one {
  min-height: 52.5rem;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap-reverse;
}
@media (min-width: 1193px) {
  .about {
    flex-wrap: unset;
  }
}

.about__left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  max-width: 100%;
  width: 100%;
}
.about__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2.5rem;
}
@media (min-width: 1193px) {
  .about__left {
    width: 100%;
    max-width: 35rem;
    min-height: 52.5rem;
  }
}

.about__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 32px;
  max-width: 100%;
  width: 100%;
}
@media (min-width: 1193px) {
  .about__right {
    max-width: 50%;
    width: 100%;
  }
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 32px;
  width: 100%;
}

.line {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #6E38F7;
}

.about__tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.statistic {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0;
  row-gap: 32px;
  column-gap: 0;
}

.statistic__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

.statistic__number {
  font-family: "Outfit";
  font-size: 3rem;
}

.statistic__title {
  font-family: "Manrope";
  font-weight: 500;
}

.even--height-two {
  min-height: 67.875rem;
}

.services {
  min-height: 67.875rem;
}

.service__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(21rem, 1fr));
  gap: 0;
  row-gap: 24px;
  column-gap: 0;
}
@media (min-width: 768px) {
  .service__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(21rem, 1fr));
    gap: 0;
    row-gap: 24px;
    column-gap: 24px;
  }
}

.odd--height-two {
  min-height: 44.625rem;
}

.testimonial {
  min-height: 44.625rem;
}

.testimonial__card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(20.25rem, 1fr));
  gap: 0;
  row-gap: 24px;
  column-gap: 0;
}
@media (min-width: 768px) {
  .testimonial__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(20.25rem, 1fr));
    gap: 0;
    row-gap: 24px;
    column-gap: 24px;
  }
  .testimonial__card > :last-child {
    width: 50%;
    grid-column: 1/-1;
    justify-self: center;
  }
}
@media (min-width: 992px) {
  .testimonial__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(20.25rem, 1fr));
    gap: 0;
    row-gap: 24px;
    column-gap: 24px;
  }
  .testimonial__card > :last-child {
    width: auto;
    grid-column: auto;
    justify-self: stretch;
  }
}

.card__user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.card__user img {
  width: 3rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
}

.user__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2px;
}
.user__info h5 {
  font-family: "Outfit";
  text-transform: capitalize;
}
.user__info p {
  font-family: "Manrope";
  font-weight: 400;
}

.cta-section {
  min-height: 512px;
  background-color: #121214;
}

.cta__content {
  min-height: 512px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.cta__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.cta__title {
  color: #FFFFFF;
  font-family: "Montserrat-alt--extraBold";
  font-size: 3rem;
  text-align: center;
}

.cta__para {
  text-align: center;
}

.para-section--color {
  color: #868E96;
}

.cta__action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.cta__project :last-child {
  margin-left: 8px;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 5.625rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.03);
  background-color: #FFFFFF;
}

.head {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.head__left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.burgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.burgerMenu div {
  width: 30px;
  height: 3px;
  background-color: #073C35;
}
@media (min-width: 992px) {
  .burgerMenu {
    display: none;
  }
}

.logo {
  font-family: "Poppins--Bold";
  font-size: 1.75rem;
}
.logo .logo__text {
  color: #073C35;
}
.logo span {
  color: #C29B4F;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  display: none;
}
.navigation a {
  font-size: 0.875rem;
  font-family: "Poppins--semiBold";
  font-weight: 600;
}
@media (min-width: 992px) {
  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

.separator {
  width: 0.5px;
  background-color: #F8F9FA;
  border: 1 solid #F8F9FA;
  height: 1.875rem;
}

.head__right {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: 20px;
  font-family: "Poppins--semiBold";
  color: #073C35;
}

/*# sourceMappingURL=style.css.map */
