@font-face {
  font-family: "Montserrat-alt--semiBold";
  src: url(./assets/fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat-alt--regular";
  src: url(./assets/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-alt--Bold";
  src: url(./assets/fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat-alt--extraBold";
  src: url(./assets/fonts/Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf);
}
@font-face {
  font-family: "Manrope";
  src: url(./assets/fonts/Manrope/Manrope.ttf);
}
@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/Outfit/Outfit.ttf);
}
@font-face {
  font-family: "Poppins--semiBold";
  src: url(./assets/fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Poppins--Bold";
  src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
}
html {
  font-size: 87.5%;
}
@media (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #121214;
}

body {
  overflow-x: hidden;
}

.wrapper-header {
  max-width: 1440px;
  width: 100%;
  padding: 0px 20px;
  margin: auto;
}
@media (min-width: 1193px) {
  .wrapper-header {
    padding: 0 5rem;
  }
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  padding: 0 1.25rem;
  margin: auto;
}
@media (min-width: 1193px) {
  .wrapper {
    padding: 0 6rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.bo {
  border: 1px solid #121214;
}

.selected {
  color: #073C35;
}

@media (min-width: 992px) {
  .selected__line {
    left: 0;
    bottom: 0;
    position: absolute;
    width: 53px;
    height: 1.5px;
    background-color: #C29B4F;
  }
}

.even-section {
  background-color: #F8F9FA;
  color: #121214;
  padding: 32px 0;
}
@media (min-width: 1193px) {
  .even-section {
    padding: 0;
  }
}

.odd-section {
  background-color: #F1F3F5;
  color: #121214;
  padding: 32px 0;
}
@media (min-width: 1193px) {
  .odd-section {
    padding: 0;
  }
}

.structure-section {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 64px;
}
@media (min-width: 768px) {
  .structure-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }
}

.tag-section {
  color: #6E38F7;
  font-family: "Poppins--Bold";
  font-size: 0.875rem;
  text-transform: uppercase;
}

.title-section {
  color: #121214;
  font-family: "Montserrat-alt--Bold";
  font-size: 2.5rem;
}

.para-section {
  font-family: "Montserrat-alt--regular";
  font-size: 1rem;
}

.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
}
@media (min-width: 768px) {
  .intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .intro-section h3 {
    text-align: center;
  }
}

.onHover {
  transition: translate 0.3s ease;
}
.onHover:hover {
  translate: 0 -0.4375rem;
}

.navHover {
  transition: translate 0.3s ease;
}
.navHover:hover {
  translate: 0 -0.1875rem;
  font-weight: 700;
}

.primary-btn {
  padding: 14px 28px;
  background-color: #073C35;
  font-family: "Montserrat-alt--regular";
  color: #FFFFFF;
  border: 2px solid #073C35;
  transition: all 0.3s ease;
}

.secondary-btn {
  padding: 14px 28px;
  font-family: "Montserrat-alt--regular";
  border: 2px solid #073C35;
}

.cta {
  padding: 1rem 1.75rem;
  color: #FFFFFF;
  background-color: #F09008;
  border-radius: 1.875rem;
  transition: translate 0.3s ease;
  font-family: "Manrope";
  font-weight: 600;
}

.cta--alt {
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 32px;
  padding: 2.5rem;
  background-color: #FFFFFF;
  border-radius: 1.5rem;
  border: 1px solid #E9ECEF;
}

.card__container--space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 0;
}

.card__icon {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(110, 56, 247, 0.062745098);
  padding: 16px;
  border-radius: 16px;
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 12px;
}

.card__title {
  font-family: "Montserrat-alt--semiBold";
  font-size: 1.5rem;
}

.card__action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: "Montserrat-alt--semiBold";
  color: #6E38F7;
}

.fix {
  width: 100%;
  height: 100%;
}

.even--height-one {
  min-height: 800px;
}

.hero {
  min-height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
@media (min-width: 1193px) {
  .hero {
    flex-wrap: unset;
  }
}

.hero__left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 32px;
}
@media (min-width: 1193px) {
  .hero__left {
    width: 50%;
  }
}

.hero__right {
  width: 100%;
  margin-top: 3rem;
}
.hero__right img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 2.5rem;
}
@media (min-width: 1193px) {
  .hero__right {
    width: 100%;
    max-width: 35rem;
    margin-top: 0;
  }
}

.hero__tag {
  display: block;
  padding: 6px 14px;
  color: #6E38F7;
  background-color: rgba(110, 56, 247, 0.062745098);
  border-radius: 20px;
  font-size: 0.8125rem;
  font-family: "Manrope";
  font-weight: 600;
}

.hero__title {
  font-family: "Montserrat-alt--semiBold";
  font-size: 4rem;
}

.para-section--hero {
  font-size: 1.125rem;
}

.hero__action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.hero__action > * {
  transition: transform 0.3s ease;
}
.hero__action > *:hover {
  transform: scale(0.98);
}
.hero__action > :first-child img {
  margin-left: 10px;
}

.odd--height-one {
  min-height: 52.5rem;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap-reverse;
}
@media (min-width: 1193px) {
  .about {
    flex-wrap: unset;
  }
}

.about__left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  max-width: 100%;
  width: 100%;
}
.about__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2.5rem;
}
@media (min-width: 1193px) {
  .about__left {
    width: 100%;
    max-width: 35rem;
    min-height: 52.5rem;
  }
}

.about__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 32px;
  max-width: 100%;
  width: 100%;
}
@media (min-width: 1193px) {
  .about__right {
    max-width: 50%;
    width: 100%;
  }
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 32px;
  width: 100%;
}

.line {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #6E38F7;
}

.about__tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.statistic {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0;
  row-gap: 32px;
  column-gap: 0;
}

.statistic__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

.statistic__number {
  font-family: "Outfit";
  font-size: 3rem;
}

.statistic__title {
  font-family: "Manrope";
  font-weight: 500;
}

.even--height-two {
  min-height: 67.875rem;
}

.services {
  min-height: 67.875rem;
}

.service__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(21rem, 1fr));
  gap: 0;
  row-gap: 24px;
  column-gap: 0;
}
@media (min-width: 768px) {
  .service__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(21rem, 1fr));
    gap: 0;
    row-gap: 24px;
    column-gap: 24px;
  }
}

.odd--height-two {
  min-height: 44.625rem;
}

.testimonial {
  min-height: 44.625rem;
}

.testimonial__card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(20.25rem, 1fr));
  gap: 0;
  row-gap: 24px;
  column-gap: 0;
}
@media (min-width: 768px) {
  .testimonial__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(20.25rem, 1fr));
    gap: 0;
    row-gap: 24px;
    column-gap: 24px;
  }
  .testimonial__card > :last-child {
    width: 50%;
    grid-column: 1/-1;
    justify-self: center;
  }
}
@media (min-width: 992px) {
  .testimonial__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(20.25rem, 1fr));
    gap: 0;
    row-gap: 24px;
    column-gap: 24px;
  }
  .testimonial__card > :last-child {
    width: auto;
    grid-column: auto;
    justify-self: stretch;
  }
}

.card__user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.card__user img {
  width: 3rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
}

.user__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2px;
}
.user__info h5 {
  font-family: "Outfit";
  text-transform: capitalize;
}
.user__info p {
  font-family: "Manrope";
  font-weight: 400;
}

.cta-section {
  min-height: 512px;
  background-color: #121214;
}

.cta__content {
  min-height: 512px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.cta__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.cta__title {
  color: #FFFFFF;
  font-family: "Montserrat-alt--extraBold";
  font-size: 3rem;
  text-align: center;
}

.cta__para {
  text-align: center;
}

.para-section--color {
  color: #868E96;
}

.cta__action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.cta__project :last-child {
  margin-left: 8px;
}

.logo__footer {
  width: 16px;
  height: 16px;
  background: linear-gradient(90deg, #6E38F7, #FF5E5B);
  border-radius: 100%;
}

.footer {
  min-height: 415px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 64px;
  min-height: 415px;
}

.footer__upper {
  width: 100%;
  color: #495057;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0;
}
@media (min-width: 576px) {
  .footer__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
}

.footer__brand {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 18px;
}
.footer__brand a {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
  font-family: "Outfit";
  font-weight: 800;
  font-size: 1.5rem;
}
.footer__brand p {
  font-size: 0.875rem;
}
@media (min-width: 576px) {
  .footer__brand {
    max-width: 320px;
  }
}

.footer__linkGroup {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 80px;
}
@media (min-width: 576px) {
  .footer__linkGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 80px;
  }
}

.footer__navigation, .footer__contact, .footer__navigation ul, .footer__contact ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.footer__navigation ul {
  font-size: 0.875rem;
}

.link__title {
  font-family: "Poppins--Bold";
  font-weight: 700;
  text-transform: uppercase;
}

.footer__separator {
  width: 100%;
  height: 1px;
  background-color: #E9ECEF;
}

.footer__lower {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  font-family: "Manrope";
  color: #868E96;
  font-weight: 400;
}

.foote__legal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 5.625rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.03);
  background-color: #FFFFFF;
  z-index: 99;
}

.activeBurger {
  position: absolute;
  left: 0;
  top: 5.625rem;
  display: flex !important;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  background-color: #FFFFFF !important;
  border: 1px solid #E9ECEF;
  z-index: 999;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
  border-bottom-left-radius: 0.9375rem;
  border-bottom-right-radius: 0.9375rem;
  font-size: 1.125rem;
  overflow: hidden;
  animation: developp 0.5s ease forwards;
}

.head {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.head__left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.burgerMenu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.burgerMenu div {
  width: 30px;
  height: 3px;
  background-color: #073C35;
}
@media (min-width: 992px) {
  .burgerMenu {
    display: none;
  }
}

.delete {
  animation: darkToWhite 0.3s ease-out forwards;
}

.show {
  animation: whiteToDark 0.3s ease-out forwards;
}

.rotate45 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-50);
  animation: rotate45 0.3s ease-out forwards;
}

.rotate-45 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-50);
  animation: rotate-45 0.3s ease-out forwards;
}

.unrotate {
  position: unset;
  animation: unrotate 0.3s ease-out forwards;
}

.logo {
  font-family: "Outfit";
  font-size: 1.75rem;
}
.logo .logo__text {
  color: #073C35;
}
.logo span {
  color: #C29B4F;
}

.navigation ul {
  display: none;
}
.navigation a {
  font-size: 0.875rem;
  font-family: "Poppins--semiBold";
  font-weight: 600;
}
@media (min-width: 992px) {
  .navigation ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

.separator {
  width: 0.5px;
  background-color: #F8F9FA;
  border: 1px solid #E9ECEF;
  height: 1.875rem;
}

.head__right {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: 20px;
  font-family: "Poppins--semiBold";
  color: #073C35;
}

@keyframes developp {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: rem(500);
    opacity: 1;
  }
}
@keyframes darkToWhite {
  from {
    background-color: auto;
  }
  to {
    background-color: #FFFFFF;
  }
}
@keyframes whiteToDark {
  from {
    background-color: auto;
  }
  to {
    background-color: #073C35;
  }
}
@keyframes rotate45 {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 45deg;
  }
}
@keyframes rotate-45 {
  from {
    rotate: 0deg;
  }
  to {
    rotate: -45deg;
  }
}
@keyframes unrotate {
  from {
    rotate: auto;
  }
  to {
    rotate: 0deg;
  }
}

/*# sourceMappingURL=style.css.map */
