@use '../base/base_dir' as *;
@use '../variables/base_dir' as *;
@use '../responsive/base_dir' as *;

//HERO---------------------------------------------------------------

.even--height-one{
    min-height: 800px;
}

.hero{
    // margin-top: rem(90);
    min-height: 800px;
    @include flex($jc: space-between, $ai: center, $gap: 20px);
    flex-wrap: wrap;
    
    @include respond($xl){
        flex-wrap: unset;
    // @include flex($jc: space-between, $ai: center, $gap: 0px);
    }
}

.hero__left{
    width: $w-100;
    @include flex($direction: column,$ai: start ,$gap: $space-8);

    @include respond($xl){
        width: $w-50;
    }
}

.hero__right{
    width: $w-100;
    margin-top: rem(48);
    
    img{
        width: $w-100;             
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: rem(40);
    }

    @include respond($xl){
        width: $w-100;
        max-width: rem(560);
        margin-top: 0;
    }
}

.hero__tag{
    display: block;
    padding: 6px 14px;
    color: $accent-color;
    background-color: $bg-accent-color;
    border-radius: 20px;
    font-size: rem(13);
}

.hero__title{
    font-family: $font-heading;
    font-size:  rem(64);
}

.para-section--hero{
    font-size:  rem(18);
}

.hero__action{
    @include flex($gap:16px)
}

//SECTION 2-----------------------------------------------------------------------------------

.odd--height-one{
    min-height: rem(840);
}

.about{
    width: $w-100;
    @include flex($jc: space-between,$gap:rem(64));
    flex-wrap: wrap-reverse;

    @include respond($xl){
        flex-wrap: unset;
    }
}

.about__left{
    @include flex();
    max-width: $w-100;
    width: $w-100;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: rem(40);
    }

    @include respond($xl){
        width: $w-100;
        max-width: rem(560);
        min-height: rem(840);
    }
}

.about__right{
    @include flex($direction: column, $ai: start, $gap: 32px);
    max-width: $w-100;
    width: $w-100;
    
    @include respond($xl){
        max-width: $w-50;
        width: $w-100;
    }
}

.about__text{
    @include flex($direction: column, $ai: start, $gap: 32px);
    width: $w-100;
}


.line{
    display: block;
    width: 24px;
    height: 2px;
    background-color: $accent-color;
}

.about__tag{
    @include flex($gap: 8px);
}

.statistic{
    width: 100%;
    @include grid(1fr 1fr, auto auto, $rgap: $space-8);
}

.statistic__container{
    @include flex($direction: column, $ai: start, $gap: $space-2)
}

.statistic__number{
    font-family: $font-numeric;
    font-size: rem(48);
}

.statistic__title{
    font-family: $font-accent;
    font-weight: 500;
}

//SECTION 3----------------------------------------------------------------------------------

.even--height-two{
    min-height: rem(1086);
}

.services{
    min-height: rem(1086);
}

.service__grid{
    @include grid(1fr, repeat(4, minmax(rem(336), 1fr)), $rgap: $space-6);

    @include respond($md){
        @include grid(repeat(2, 1fr), repeat(2, minmax(rem(336), 1fr)), $rgap: $space-6, $cgap: $space-6);
    }
}

//SECTION 4--------------------------------------------------------------------------------

.odd--height-two{
    min-height: rem(714);
}

.testimonial{
    min-height: rem(714);
}

.testimonial__card{
    @include grid(1fr, repeat(3, minmax(rem(324), 1fr)), $rgap: $space-6);

    @include respond($md){
        @include grid(repeat(2, 1fr), repeat(2, minmax(rem(324), 1fr)), $rgap: $space-6, $cgap: $space-6);

        > :last-child{
            width: $w-50;
            grid-column: 1 / -1;
            justify-self: center;
        }
    }

    @include respond($lg){
        @include grid(repeat(3, 1fr),repeat(auto-fit, minmax(rem(324), 1fr)), $rgap: $space-6, $cgap: $space-6);

        > :last-child{
            width: auto;            
            grid-column: auto;      
            justify-self: stretch;  
        }
    }
}

.card__user{
    @include flex($gap: $space-4);
    
    img{
        width: rem(48);   
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: $w-100;
    }
}

.user__info{
    @include flex($direction: column, $ai: start, $gap: 2px);

    h5{
        font-family: $font-user-name;
        text-transform: capitalize;
    }   

    p{
        font-family: $font-accent;
        font-weight: 400;
    }
}

