$bg-even-section : #F8F9FA;
$bg-odd-section : #F1F3F5;
$white-color : #FFFFFF;
$bg-header : $white-color;
$card-border-color: #E9ECEF;
$bg-cta-section : #121214;

$logo-color-gradient : linear-gradient(90deg, #6E38F7, #FF5E5B);

$neutral-color: #868E96;
$footer-text-color: #495057;

$logo-color : #073C35;
$logo-dot-color : #C29B4F;

$bg-btn : #073C35;

$bg-btn-alt : #F09008;
$accent-color : #6E38F7;
$bg-accent-color : #6E38F710;

$text-color : #121214;