$white-color : #FFFFFF;
$neutral-color: #868E96;
$accent-color : #6E38F7;

$bg-even-section : #F8F9FA;
$bg-odd-section : #F1F3F5;
$bg-header : $white-color;
$bg-cta-section : #121214;
$bg-btn : #073C35;
$bg-accent-color : #6E38F710;
$bg-btn-alt : #F09008;

$logo-color-gradient : linear-gradient(90deg, #6E38F7, #FF5E5B);
$logo-dot-color : #C29B4F;
$logo-color : #073C35;

$text-color : #121214;
$footer-text-color: #495057;

$card-border-color: #E9ECEF;


