$font-primary: "Montserrat-alt--semiBold";
$font-heading: "Montserrat-alt--semiBold";
$font-title-section: "Montserrat-alt--Bold";
$font-title-card: "Montserrat-alt--semiBold";
$font-nav: "Poppins--semiBold";
$font-body: "Montserrat-alt--regular";
$font-logo: "Poppins--Bold";
$font-tag: "Poppins--Bold";
$font-numeric : "Outfit";
$font-logo-footer : "Outfit";
$font-cta-title : "Montserrat-alt--extraBold";
$font-user-name : "Outfit";
$font-accent : "Manrope";

