@use '../base/base_dir' as *;
@use '../variables/base_dir' as *;
@use '../responsive/base_dir' as *;

.even-section{
    background-color: $bg-even-section;
    color: $text-color;
    padding: $space-8 0;

    @include respond($xl){
        padding: 0;
    }
}

.odd-section{
    background-color: $bg-odd-section;
    color: $text-color;
    padding: $space-8 0;

    @include respond($xl){
        padding: 0;
    }
}

.structure-section{
    max-width: $w-100;
    width: $w-100;
    @include flex($direction: column, $ai: start, $gap: $space-16);
    
    @include respond($md){
        @include flex($direction: column, $gap: $space-16);

    }
}

.tag-section{
    color: $accent-color;
    font-family: $font-tag;
    font-size: rem(14);
    text-transform: uppercase;
}

.title-section{
    color: $text-color;
    font-family: $font-title-section;
    font-size: rem(40);
}

.para-section{
    font-family: $font-body;
    font-size:  rem(16);
}

.intro-section{
    @include flex($direction: column, $ai: start, $gap: $space-4);

    @include respond($md){
        @include flex($direction: column, $gap: $space-4);

        h3{
            text-align: center;
        }
    }
}