@use '../base/base_dir' as *;
@use '../variables/base_dir' as *;
@use '../responsive/base_dir' as *;

header{
    position: sticky;
    top: 0;
    width: 100%;
    height: rem(90);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.03);
    background-color: $bg-header;
    z-index: 99;
}

.activeBurger{
    position: absolute;
    left: 0;
    top: rem(90);
    display: flex !important;
    padding-bottom: 32px;
    @include flex($direction: column, $gap: 20px);
    width: 100vw;
    background-color: $white-color !important;
    border: 1px solid $card-border-color;
    z-index: 999;

    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);  
    border-bottom-left-radius: rem(15);  
    border-bottom-right-radius: rem(15);  

    font-size: rem(18);
    overflow: hidden;
    animation: developp .5s ease forwards;
}

.head{
    height: 100%;
    @include flex($jc: space-between);
}

.head__left{
    @include flex($gap: 15px);
}

.burgerMenu{
    position: relative;
    @include flex($direction: column, $gap: 8px);
    div{
        width: 30px;
        height: 3px;
        background-color: $logo-color;
    }

    @include respond($lg){
        display: none;
    }
}

.delete{
    animation: darkToWhite .3s ease-out forwards;
}

.show{
    animation: whiteToDark .3s ease-out forwards;
}

.rotate45{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-50);
    animation: rotate45 .3s ease-out forwards;
}
.rotate-45{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-50);
    animation: rotate-45 .3s ease-out forwards;
}

.unrotate{
    position: unset;
    animation: unrotate .3s ease-out forwards;
}
// .unrotate-45{
//     position: unset;
//     // top: 100%;
//     animation: unrotate .3s ease-out forwards;
// }

.logo{
    font-family: $font-logo-footer;
    font-size: rem(28);

    .logo__text{
        color: $logo-color;
    }

    span{
        color: $logo-dot-color;
    }
}

.navigation{
    ul{
        display: none;
    }

    a{
        font-size: rem(14);
        font-family: $font-nav;
        font-weight: 600;
    }

    @include respond($lg){
        ul{
            position: relative;
            @include flex($gap:40px);
        }
    }
}



.separator{
    width: .5px;
    background-color: $bg-even-section;
    border: 1px solid $card-border-color;
    height: rem(30);
}

.head__right{
    @include flex($jc: none, $ai: center, $gap: 20px);
    font-family: $font-nav;
    color: $logo-color;
}