@use '../variables/base_dir' as  *;
@use '../base/base_dir' as  *;
@use '../responsive/base_dir' as  *;

.card__container{
    @include flex($direction: column, $ai: start, $gap: $space-8);
    padding: rem(40);
    background-color: $white-color;
    border-radius: rem(24);
    border: 1px solid $card-border-color;
}

.card__container--space{
    @include flex($direction: column, $ai: start, $jc: space-between);
}

.card__icon{
    width: rem(56);
    height: rem(56);
    background-color: $bg-accent-color;
    padding: $space-4;
    border-radius: $space-4;
}

.card__text{
    @include flex($direction: column, $ai: start, $jc: space-between, $gap: $space-3);
}

.card__title{
    font-family: $font-title-card;
    font-size: rem(24);
}

.card__action{
    @include flex($gap: $space-2);
    font-family: $font-title-card;
    color: $accent-color;
}