@font-face {
    font-family: 'Montserrat Alternates';
    src: url(../../assets/fonts/Montserrat_Alternates/MontserratAlternates-Black.ttf);
}
@font-face {
    font-family: 'Manrope';
    src: url(../../assets/fonts/Manrope/Manrope.ttf);
}
@font-face {
    font-family: 'Outfit';
    src: url(../../assets/fonts/Outfit/Outfit.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(../../assets/fonts/Poppins/Poppins-Black.ttf);
}