@font-face {
    font-family: 'Montserrat-alt--semiBold';
    src: url(../assets/fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf);
}
@font-face {
    font-family: 'Montserrat-alt--regular';
    src: url(../assets/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat-alt--Bold';
    src: url(../assets/fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf);
}
@font-face {
    font-family: 'Montserrat-alt--extraBold';
    src: url(../assets/fonts/Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf);
}
@font-face {
    font-family: 'Manrope';
    src: url(../assets/fonts/Manrope/Manrope.ttf);
}
@font-face {
    font-family: 'Outfit';
    src: url(../assets/fonts/Outfit/Outfit.ttf);
}
@font-face {
    font-family: 'Poppins--semiBold';
    src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: 'Poppins--Bold';
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}