@mixin respond($bp) {
  $width: $bp;
  @if $width {
    @media (min-width: $width) { @content; }
  }
}

@mixin d-flex($direction: row){
    display: flex;
    flex-direction: $direction;
}

@mixin flex($direction: row, $jc: center, $ai: center, $gap: 0){
    display: flex;
    flex-direction: $direction;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}

@mixin grid($nbCol, $nbRow, $gap: 0, $rgap: 0, $cgap: 0){
  display: grid;
  grid-template-columns: $nbCol;
  grid-template-rows: $nbRow;
  gap: $gap;
  row-gap: $rgap;
  column-gap: $cgap;
}