@mixin respond($bp) {
  $width: $bp;
  @if $width {
    @media (min-width: $width) { @content; }
  }
}

@mixin d-flex($direction: row){
    display: flex;
    flex-direction: $direction;
}

@mixin flex($direction: row, $jc: center, $ai: center, $gap: none){
    display: flex;
    flex-direction: $direction;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}